<div class="footer sin-fondo wf-section">
    <a href="{{ links.2f }}" aria-current="page" class="link-footer w-inline-block w--current">{%- image images.-4ade46f3.url, images.-4ade46f3.alt, '[{"max":479,"size":"89vw"},{"max":10000,"size":"190px"}]', 'width="190"' -%}</a>
    <p class="parrafo-negro">{{ texts.70f92d2e }}<br>{{ texts.-3aa62e5a }}</p>
    <a href="{{ links.1c7deb5e }}" class="link-footer cf w-inline-block">{%- image images.-59bc174a.url, images.-59bc174a.alt, '[{"max":10000,"size":"90px"}]', 'width="90"' -%}</a>
    <a href="{{ links.418b5433 }}" target="_blank" class="link-block w-inline-block">
      <p class="parrafo-small">{{ texts.-3054c602 }}</p>
    </a>
  </div>