<div class="modal-form">
        <div class="w-layout-grid cont-forma-modal">
          <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8c5-877fd8c3" class="w-form">
            <form id="wf-form-Curso-forma" name="wf-form-Curso-forma" data-name="curso_a" method="post" action="https://formbucket.com/f/buk_FYQ2A7tFDlXQUOduaqsVW6Ui" class="form" data-ajax="true">
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8c7-877fd8c3"><label for="Nombre-3" class="field-label">{{ texts.-1e41be8f }}</label><input type="text" class="text-field w-input" maxlength="256" name="Nombre-2" data-name="Nombre 2" placeholder="" id="Nombre-2"></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8cb-877fd8c3"><label for="Apellido-paterno-2" class="field-label">{{ texts.-69954315 }}</label><input type="text" class="text-field w-input" maxlength="256" name="Apellido-paterno-2" data-name="Apellido Paterno 2" placeholder="" id="Apellido-paterno-2" required=""></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8cf-877fd8c3"><label for="Apellido-materno-2" class="field-label">{{ texts.5ec7364e }}</label><input type="text" class="text-field w-input" maxlength="256" name="Apellido-materno-2" data-name="Apellido Materno 2" placeholder="" id="Apellido-materno-2" required=""></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8d3-877fd8c3"><label for="Telefono-2" class="field-label">{{ texts.-79293a5e }}</label><input type="tel" class="text-field w-input" maxlength="256" name="Telefono-2" data-name="Telefono 2" placeholder="" id="Telefono-2" required=""></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8d7-877fd8c3"><label for="Email-4" class="field-label">{{ texts.-5f41cbb3 }}</label><input type="email" class="text-field w-input" maxlength="256" name="Email-4" data-name="Email 4" placeholder="" id="Email-4" required=""></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8db-877fd8c3"><label for="Cargo-en-la-organizacion-2" class="field-label">{{ texts.2bc32538 }}</label><input type="text" class="text-field w-input" maxlength="256" name="Cargo-en-la-organizacion-2" data-name="Cargo En La Organizacion 2" placeholder="" id="Cargo-en-la-organizacion-2"></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8df-877fd8c3"><label for="Nombre-organizacion-2" class="field-label">{{ texts.7f56872 }}</label><input type="text" class="text-field w-input" maxlength="256" name="Nombre-organizacion-2" data-name="Nombre Organizacion 2" placeholder="" id="Nombre-organizacion-2"><label for="Estado-OSC-2" class="field-label">{{ texts.-3852af6e }}<strong>{{ texts.739ef2e6 }}</strong>{{ texts.-2705bee1 }}</label><input type="text" class="text-field w-input" maxlength="256" name="Estado-OSC-2" data-name="Estado OSC 2" placeholder="" id="Estado-OSC-2"></div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8e6-877fd8c3"><label for="Organizaci-n-empresa" class="field-label">{{ texts.2b9138d9 }}</label>
                <div data-duration-in="300" data-duration-out="100" data-easing="ease-in" data-current="Tab 1" class="w-tabs">
                  <div class="tabs-menu w-tab-menu">
                    <a data-w-tab="Tab 1" class="tab-link-tab-1 w-inline-block w-tab-link w--current">
                      <div>{{ texts.9e1 }}</div>
                    </a>
                    <a data-w-tab="Tab 2" class="tab-link-tab-1 w-inline-block w-tab-link">
                      <div>{{ texts.a76 }}</div>
                    </a>
                  </div>
                  <div class="w-tab-content">
                    <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active"></div>
                    <div data-w-tab="Tab 2" class="w-tab-pane">
                      <div class="w-layout-grid grid-factura">
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8f5-877fd8c3"><label for="Razon-social-2" class="field-label">{{ texts.5082572b }}</label><input type="text" class="text-field w-input" maxlength="256" name="Razon-social-2" data-name="Razon Social 2" placeholder="" id="Razon-social-2"></div>
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8f9-877fd8c3"><label for="RFC-2" class="field-label">{{ texts.26558b }}</label><input type="text" class="text-field w-input" maxlength="256" name="RFC-2" data-name="RFC 2" placeholder="" id="RFC-2"></div>
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd8fd-877fd8c3"><label for="Calle-y-numero-2" class="field-label">{{ texts.-44b1e5a7 }}</label><input type="text" class="text-field w-input" maxlength="256" name="Calle-y-numero-2" data-name="Calle Y Numero 2" placeholder="" id="Calle-y-numero-2"></div>
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd901-877fd8c3"><label for="Colonia-2" class="field-label">{{ texts.-21a2657d }}</label><input type="text" class="text-field w-input" maxlength="256" name="Colonia-2" data-name="Colonia 2" placeholder="" id="Colonia-2"></div>
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd905-877fd8c3"><label for="Codigo-postal-2" class="field-label">{{ texts.71e250cc }}</label><input type="text" class="text-field w-input" maxlength="256" name="Codigo-postal-2" data-name="Codigo Postal 2" placeholder="" id="Codigo-postal-2"></div>
                        <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd909-877fd8c3"><label for="Ciudad-y-Estado-2" class="field-label">{{ texts.46a70b6f }}<strong>{{ texts.7c492586 }}</strong>{{ texts.3a }}</label><input type="text" class="text-field w-input" maxlength="256" name="Ciudad-y-Estado-2" data-name="Ciudad Y Estado 2" placeholder="" id="Ciudad-y-Estado-2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-embed"><input type="hidden" id="url" name="url" value=""></div>
              </div>
              <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd90e-877fd8c3"><input type="submit" value="ENVIAR" data-wait="Un momento..." class="boton-full-width w-button"></div>
            </form>
            <div class="success-message dark w-form-done">
              <div>{{ texts.329ae967 }}</div>
            </div>
            <div class="w-form-fail">
              <div>{{ texts.-7c112e99 }}</div>
            </div>
          </div>
          <div class="flex-vertical-left">
            <h2>{{ texts.-25496bad }}</h2>
          </div>
          <div id="w-node-c48122de-30a9-af30-4bf4-cc09877fd919-877fd8c3" class="flex-vertical-right">{%- image images.-47b2dc11.url, images.-47b2dc11.alt, '[{"max":10000,"size":"100vw"}]', 'width="160"' -%}</div>
        </div>
        <div data-w-id="c48122de-30a9-af30-4bf4-cc09877fd91b" class="parrafo-negro btn">{{ texts.-671f702e }}</div>
      </div>