<div data-collapse="small" data-animation="default" data-duration="500" data-easing="ease-in" data-easing2="ease" role="banner" class="navbar w-nav">
      <div class="contenedor-menu">
        <a href="{{ links.2f }}" aria-current="page" class="brand w-nav-brand w--current">{%- image images.-4ade46f3.url, images.-4ade46f3.alt, '[{"max":479,"size":"33vw"},{"max":767,"size":"21vw"},{"max":991,"size":"23vw"},{"max":10000,"size":"190px"}]', 'width="190" class="logo"' -%}</a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <a href="{{ links.-30868cd7 }}" class="nav-link w-nav-link">{{ texts.383a287c }}</a>
          <a href="{{ links.797bcf20 }}" class="nav-link w-nav-link">{{ texts.789e4dd3 }}</a>
          <a href="{{ links.616c964f }}" class="nav-link w-nav-link">{{ texts.6f0e6a96 }}</a>
          <a href="{{ links.709f4a65 }}" class="nav-link w-nav-link">{{ texts.-1df83b91 }}</a>
        </nav>
        <div class="menu-button w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>